<div class="row">
  <div class="col-md-6">
    <form class="form" style="margin-left: 24px" enctype="multipart/form-data"
          action="/api/file" method="post">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" name="name" id="name" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description"></textarea>
      </div>
      <hr />
      <div class="form-group">
        <input type="checkbox" name="private" id="private" />
        <label for="private">Make Private</label>
        <p class="help-block">Checking this will hide the document from non-group members.</p>
      </div>
      <div class="form-group">
        <input type="checkbox" name="everyone" id="everyone" />
        <label for="everyone">Everyone Can Edit</label>
        <p class="help-block">Checking this box allows non-group members to revise this document.</p>
      </div>
      <hr />
      <div class="form-group">
        <label for="file">File</label>
        <input type="file" name="file" id="file" />
      </div>
      <hr />
      <button type="submit" class="btn btn-primary btn-sm">Upload</button>
    </form>
  </div>
</div>
